@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --cor-branco: rgb(255, 255, 255);
  --cor-preto: rgb(0, 0, 0);
  --cor-azul: rgb(28, 94, 181);
  --cor-vermelho: rgb(255, 0, 0);
  --cor-vermelho-transparente: rgb(255, 0, 0, 0.85);
  --cor-laranja-transparente: rgb(255, 179, 0, 0.65);
  --cor-azul-transparente: rgb(28, 94, 181, 0.75);
}

*, body {
  box-sizing: border-box;
  top: 0;
  left: 0;
  margin: 0;
  font-family: 'Public Sans', 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

/****** Header e Nav ( Navbar ) *******************************************/

.logo-navbar-fritadas {
  width: 50px;
  height: 50px;
}

.a-navbar {
  position: relative;
  text-decoration: none;
  padding: 0 10px;
  margin-left: 20px;
}

.a-navbar:hover {
  color: rgb(135, 135, 135);
}

.a-navbar::after {
  content: "";
  position: absolute;
  background-color: rgb(138, 138, 138);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: all 0.3s ease-out;
}

.a-navbar:hover:after {
  width: 100%;
}

.imagem-carrosel-1, .imagem-carrosel-2  {
  overflow: hidden;
  height: 92%;
}

.logo-no-banner {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.div-no-banner, .div-no-banner2, .div-no-banner3 {
  margin-top: 20% !important;
  background-color: var(--cor-laranja-transparente);
  border-radius: 20px;
  padding-top: 30px;
  height: 30%;
}

.div-no-banner {
  height: 35%;
}

.div-no-banner2 {
  background-color: var(--cor-azul-transparente);
}

.div-no-banner3 {
  background-color: var(--cor-vermelho-transparente);
}

.h1-no-banner,
.h1-no-banner2,
.p-no-banner2,
.p-no-banner {
  color: white;
}


/****** Section Sessao ( Body ) *********************************************/

.sessao {
  height: 100%;
  margin-top: 50px;
}

.h1-sessao {
  font-size: 70px;
}

.texto-sessao {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.sessao-conteudo {
  width: 98%;
}

.texto-sessao-conteudo {
  margin-top: 120px;
}

.imagem-sessao-conteudo {
  margin-top: 80px;
}

.imagem-salada-sessao-conteudo {
  transform: rotateY(180deg);
}

.imagem-bowl-sessao-conteudo, 
.imagem-salmon-sessao-conteudo,
.imagem-salada-sessao-conteudo {
  border-radius: 50px;
  box-shadow: 10px 10px 25px #cacaca;
}

/************ Section 2 Sessao 2 ****************/

.sessao2-div {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 200px;
}

.sessao2-imagem {
  height: 80%;
  width: 100%;
  overflow: hidden;
  opacity: 0.4;
}

.botao-cta-sessao2 {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 50px;
  padding: 30px 50px;
  border: none;
  cursor: pointer;
  border-radius: 18px;
  text-align: center;
  box-shadow: 10px 10px 20px #6d6d6d;
  transition: all 0.27s ease-out;
}


/****** MENU ****************************************************************/

.section-conteudo-menu {
  height: 100%;
  margin: 50px auto 100px auto;
}

.cards-menu-1, .cards-menu-2, .cards-menu-3 {
  margin-top: 50px;
}

.preco-livro-menu {
  font-size: x-large;
  color: #b300ff;
  cursor: pointer;
}

.pesquisar-no-menu {
  width: 92%;
  display: flex;
  margin: 0 auto;
  padding-left: 35px;
}

.pesquisar-no-menu input {
  height: 50px;
  font-size: 20px;
  text-indent: 20px;
  border-radius: 5px;
}

.button-91 {
  color: #fff;
  padding: 15px 25px;
  background-color: #38D2D2;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(153, 0, 255, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  transition: all 0.27s ease-out;
}

.button-91:hover {
  transform: scale(1.1);
}


/****** Cadastro ****************************************************************/

.cadastro {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 200px;
  padding: 50px;
  background: linear-gradient(-45deg, rgb(248, 248, 248), rgb(250, 250, 250));
  border-radius: 3%;
}

.botao-cadastro {
  padding: 18px 35px;
  border-radius: 8px;
  font-size: 20px;
  background: linear-gradient(-45deg, blueviolet, rgb(11, 88, 147));
  box-shadow: 2px 2px 5px #8a2be295;
  transition: all 0.27s ease-out;
}

.botao-cadastro:hover {
  transform: scale(1.1);
  box-shadow: none;
}

/****** Footer ****************************************************************/

footer {
  background-color: black;
  color: white;
  font-size: 11px;
  padding: 10px;
}

@media screen and (min-width: 1217px) {

}

@media screen and (max-width: 1216px) {
  .div-no-banner {
    height: 55%;
    padding: 30px;
  }
  
  .div-no-banner2,
  .div-no-banner3 {
    height: 35%;
  }

  .botao-cta-sessao2 {
    font-size: 30px;
  }

  .col-texto-sessao-conteudo {
    width: 40%;
  }

  .p-conteudo-sessao2b {
    width: 330px;
  }
}

@media screen and (max-width: 1023px) {
  
  .div-no-banner {
    height: 35%;
  }
  
  .div-no-banner2,
  .div-no-banner3 {
    height: 25%;
  }

  .p-no-banner3, 
  .p-no-banner2 {
    display: none;
  }

  .sessao-conteudo {
    margin-top: -50px !important;
  }

  .texto-sessao-conteudo {
    margin-top: 0;
  }

  .col-texto-sessao-conteudo {
    width: 35% !important;
    margin-left: -60px;
  }

  .p-conteudo-sessao2b {
    width: 380px;
  }

  .imagem-salada-sessao-conteudo {
    margin-top: 40px;
  }
}

@media screen and (max-width: 991px) {
  
  .col-texto-sessao-conteudo {
    width: 100%;
  }

  .p-conteudo-sessao2b {
    width: 300px;
  }

  .botao-cta-sessao2 {
    font-size: 24px;
  }
  
  /*************  CADASTRO  ********************************/

  .cadastro {
    width: 96%;
  }
  
}

@media screen and (max-width: 767px) {
  .h1-sessao {
    font-size: 50px;
  }

  .p-conteudo-sessao2b {
    width: 280px;
  }
  
  .botao-cta-sessao2 {
    font-size: 16px;
  }

  /*************  CADASTRO  ********************************/

  #cadastroCep {
    width: 200%;
  }

}

@media screen and (max-width: 575px) {
  .h1-sessao {
    font-size: 40px;
  }
  
  .botao-cta-sessao2 {
    font-size: 16px;
    padding: 15px 20px;
  }
  
  .col-texto-sessao-conteudo .texto-sessao-conteudo h1,
  .col-texto-sessao-conteudo .texto-sessao-conteudo p {
    width: 400px;
  }
  
  .span-botao-cta-sessao2 {
    display: none;
  }

}

@media screen and (max-width: 490px) {
  .texto-sessao {
    margin-left: 80px;  
  }

  .texto-sessao p {
    width: 420px !important;
    margin-left: -90px !important;
  }

  .col-texto-sessao-conteudo .texto-sessao-conteudo h1,
  .col-texto-sessao-conteudo .texto-sessao-conteudo p {
    width: 100%;
  }
  
  .p-conteudo-sessao2b {
    width: 380px !important;
  }

    /*************  MENU  ********************************/
  
    #div-inicio-menu {
      justify-content: center;
      text-align: center;
      margin-left: 50px;
    }

  /*************  CADASTRO  ********************************/

  .texto-sessao h1, 
  .texto-sessao p {
    width: 360px;
    margin-left: -70px;
    margin-top: -80px;
  }

}

@media screen and (max-width: 430px) {

  .texto-sessao h1 {
    margin-left: -65px !important;
  }

  .texto-sessao p {
    width: 330px !important;
    margin-left: -110px !important;
  }
  
  .p-conteudo-sessao2b {
    width: 250px !important;
  }

  /*************  CADASTRO  ********************************/

   .texto-sessao h1, 
   .texto-sessao p {
     width: 240px;
     margin-left: -50px;
   }

}
